
/*use this*/


/* General utilities */
.display-none,
.display-hide {
  display: none;
}

.hidden {
  display: none !important;
}

.primary-font {
  font-family: "Open Sans", sans-serif !important;
}

.bold {
  font-weight: 700 !important;
}

.thin {
  font-weight: 300 !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.fix-margin {
  margin-left: 0px !important;
}

.border {
  border: 1px solid red;
}

.font-hg {
  font-size: 23px;
}

.font-lg {
  font-size: 18px;
}

.font-md {
  font-size: 14px;
}

.font-sm {
  font-size: 13px;
}

.font-xs {
  font-size: 11px;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.text-align-reverse {
  text-align: right;
}

/* Margin and padding utilities */
.no-space {
  margin: 0px !important;
  padding: 0px !important;
}

.no-margin {
  margin: 0;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-bottom-25 {
  margin-bottom: 25px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-bottom-40 {
  margin-bottom: 40px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

/* IE8 & IE9 mode utilities */
.visible-ie8 {
  display: none;
}

.ie8 .visible-ie8 {
  display: inherit !important;
}

.visible-ie9 {
  display: none;
}

.ie9 .visible-ie9 {
  display: inherit !important;
}

.hidden-ie8 {
  display: inherit;
}

.ie8 .hidden-ie8 {
  display: none !important;
}

.hidden-ie9 {
  display: inherit;
}

.ie9 .hidden-ie9 {
  display: none !important;
}

/***
Responsive Utils
***/
@media (max-width: 1024px) {
  .hidden-1024 {
    display: none;
  }
}
@media (max-width: 480px) {
  .hidden-480 {
    display: none;
  }
}
@media (max-width: 320px) {
  .hidden-320 {
    display: none;
  }
}



/***
Demo Utils
***/
.scrollspy-example {
  position: relative;
  height: 200px;
  margin-top: 10px;
  overflow: auto;
}

.util-btn-margin-bottom-5 .btn {
  margin-bottom: 5px !important;
}

.util-btn-group-margin-bottom-5 .btn-group {
  margin-bottom: 5px !important;
}

/***
Number & Chart Stats
***/
.number-stats {
  margin: 10px 0;
}
.number-stats .stat-number {
  display: inline-block;
  margin: 0 5px;
}
.number-stats .stat-number .title {
  font-size: 13px;
  margin-bottom: 3px;
  color: #B8C3C7;
}
.number-stats .stat-number .number {
  font-size: 27px;
  line-height: 27px;
  color: #7D8C9D;
}
.number-stats .stat-chart {
  display: inline-block;
  margin: 0 5px;
}
.number-stats > div {
  border-right: 1px solid #f5f5f5;
}
.number-stats > div:last-child {
  border-right: 0;
}
.number-stats .stat-left {
  float: right;
}
.number-stats .stat-left .stat-number {
  float: right;
  text-align: right;
}
.number-stats .stat-left .stat-chart {
  float: right;
}
.number-stats .stat-right {
  float: left !important;
}
.number-stats .stat-right .stat-number {
  float: left;
  text-align: left;
}
.number-stats .stat-right .stat-chart {
  float: left;
}
.number-stats .stat-number {
  float: left;
  text-align: left;
}
.number-stats .stat-chart {
  float: left;
}

/* Circle Buttons */
.btn-circle {
  border-radius: 25px !important;
}

.btn-circle-right {
  border-radius: 0 25px 25px 0 !important;
}

.btn-circle-left {
  border-radius: 25px 0 0 25px !important;
}

.btn-circle-bottom {
  border-radius: 0 0 25px 25px !important;
}

.btn-circle-top {
  border-radius: 25px 25px 0 0 !important;
}

.btn-icon-only {
  height: 34px;
  width: 34px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
.btn-icon-only > [class^="icon-"],
.btn-icon-only > i {
  text-align: center;
  margin-top: 2px;
}

.btn-sm > [class^="glyphicon-"],
.btn-sm > [class*=" glyphicon-"],
.btn-sm > i {
  font-size: 13px;
}

.btn-xs > [class^="glyphicon-"],
.btn-xs > [class*=" glyphicon-"],
.btn-xs > i {
  font-size: 11px;
}

.btn-group.btn-group-circle > .btn:first-child {
  border-radius: 25px 0 0 25px !important;
}
.btn-group.btn-group-circle > .btn:last-child {
  border-radius: 0 25px 25px 0 !important;
}

.btn-group.btn-group-devided > .btn {
  margin-right: 5px;
}
.btn-group.btn-group-devided > .btn:last-child {
  margin-right: 0;
}

.btn-group-vertical.btn-group-vertical-circle > .btn:first-child {
  border-radius: 25px 25px 0 0 !important;
}
.btn-group-vertical.btn-group-vertical-circle > .btn:last-child {
  border-radius: 0 0 25px 25px !important;
}

/***
Charts and statistics
***/
.chart,
.pie,
.bars {
  overflow: hidden;
/*   height: 300px; */
  width: 100%;
  font-size: 14px;
}


/*portlet*/

.portlet.light {
    padding: 12px 20px 15px 20px;
    background-color: #fff;
}

.portlet {
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}



/***
Portlets
***/
/* Full Screen portlet mode */
.page-portlet-fullscreen {
  overflow: hidden;
}

/* Basic portlet */
.portlet {
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.portlet.portlet-fullscreen {
  z-index: 10060;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}
.portlet.portlet-fullscreen > .portlet-body {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 10px;
}
.portlet.portlet-fullscreen > .portlet-title {
  padding: 0 10px;
}
.portlet > .portlet-title {
  border-bottom: 1px solid #eee;
  padding: 0;
  margin-bottom: 10px;
  min-height: 41px;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.portlet > .portlet-title:before, .portlet > .portlet-title:after {
  content: " ";
  display: table;
}
.portlet > .portlet-title:after {
  clear: both;
}
.portlet > .portlet-title > .caption {
  float: left;
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  padding: 10px 0;
}
.portlet > .portlet-title > .caption.bold {
  font-weight: 400;
}
.portlet > .portlet-title > .caption > i {
  float: left;
  margin-top: 4px;
  display: inline-block;
  font-size: 13px;
  margin-right: 5px;
  color: #666;
}
.portlet > .portlet-title > .caption > i.glyphicon {
  margin-top: 2px;
}
.portlet > .portlet-title > .caption > .caption-helper {
  padding: 0;
  margin: 0;
  line-height: 13px;
  color: #9eacb4;
  font-size: 13px;
  font-weight: 400;
}
.portlet > .portlet-title > .actions {
  float: right;
  display: inline-block;
  padding: 6px 0;
}
.portlet > .portlet-title > .actions > .dropdown-menu i {
  color: #555555;
}
.portlet > .portlet-title > .actions > .btn,
.portlet > .portlet-title > .actions > .btn.btn-sm,
.portlet > .portlet-title > .actions > .btn-group > .btn,
.portlet > .portlet-title > .actions > .btn-group > .btn.btn-sm {
  padding: 4px 10px;
  font-size: 13px;
  line-height: 1.5;
}
.portlet > .portlet-title > .actions > .btn.btn-default,
.portlet > .portlet-title > .actions > .btn.btn-sm.btn-default,
.portlet > .portlet-title > .actions > .btn-group > .btn.btn-default,
.portlet > .portlet-title > .actions > .btn-group > .btn.btn-sm.btn-default {
  padding: 3px 9px;
}
.portlet > .portlet-title > .actions > .btn > i,
.portlet > .portlet-title > .actions > .btn.btn-sm > i,
.portlet > .portlet-title > .actions > .btn-group > .btn > i,
.portlet > .portlet-title > .actions > .btn-group > .btn.btn-sm > i {
  font-size: 13px;
}
.portlet > .portlet-title > .actions .btn-icon-only {
  padding: 5px 7px 3px 7px;
}
.portlet > .portlet-title > .actions .btn-icon-only.btn-default {
  padding: 4px 6px 2px 6px;
}
.portlet > .portlet-title > .actions .btn-icon-only.btn-default > i {
  font-size: 14px;
}
.portlet > .portlet-title > .actions .btn-icon-only.btn-default.fullscreen {
  font-family: FontAwesome;
  color: #a0a0a0;
  padding-top: 3px;
}
.portlet > .portlet-title > .actions .btn-icon-only.btn-default.fullscreen.btn-sm {
  padding: 3px 3px !important;
  height: 27px;
  width: 27px;
}
.portlet > .portlet-title > .actions .btn-icon-only.btn-default.fullscreen:before {
  content: "\f065";
}
.portlet > .portlet-title > .actions .btn-icon-only.btn-default.fullscreen.on:before {
  content: "\f066";
}
.portlet > .portlet-title > .tools {
  float: right;
  display: inline-block;
  padding: 12px 0 8px 0;
}
.portlet > .portlet-title > .tools > a {
  display: inline-block;
  height: 16px;
  margin-left: 5px;
  opacity: 1 ;
  filter: alpha(opacity=100) ;
}
.portlet > .portlet-title > .tools > a.remove {
  background-image: url(../img/portlet-remove-icon.png);
  background-repeat: no-repeat;
  width: 11px;
}
.portlet > .portlet-title > .tools > a.config {
  background-image: url(../img/portlet-config-icon.png);
  background-repeat: no-repeat;
  width: 12px;
}
.portlet > .portlet-title > .tools > a.reload {
  background-image: url(../img/portlet-reload-icon.png);
  width: 13px;
}
.portlet > .portlet-title > .tools > a.expand {
  background-image: url(../img/portlet-expand-icon.png);
  width: 14px;
  visibility: visible;
}
.portlet > .portlet-title > .tools > a.collapse {
  background-image: url(../img/portlet-collapse-icon.png);
  width: 14px;
  visibility: visible;
}
.portlet > .portlet-title > .tools > a.fullscreen {
  display: inline-block;
  top: -3px;
  position: relative;
  font-size: 13px;
  font-family: FontAwesome;
  color: #ACACAC;
}
.portlet > .portlet-title > .tools > a.fullscreen:before {
  content: "\f065";
}
.portlet > .portlet-title > .tools > a.fullscreen.on:before {
  content: "\f066";
}
.portlet > .portlet-title > .tools > a:hover {
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: 0.8 ;
  filter: alpha(opacity=80) ;
}
.portlet > .portlet-title > .pagination {
  float: right;
  display: inline-block;
  margin: 2px 0 0 0;
  border: 0;
  padding: 4px 0;
}
.portlet > .portlet-title > .nav-tabs {
  background: none;
  margin: 0;
  float: right;
  display: inline-block;
  border: 0;
}
.portlet > .portlet-title > .nav-tabs > li {
  background: none;
  margin: 0;
  border: 0;
}
.portlet > .portlet-title > .nav-tabs > li > a {
  background: none;
  margin: 5px 0 0 1px;
  border: 0;
  padding: 8px 10px;
  color: #fff;
}
.portlet > .portlet-title > .nav-tabs > li.active > a, .portlet > .portlet-title > .nav-tabs > li:hover > a {
  color: #333;
  background: #fff;
  border: 0;
}
.portlet > .portlet-body {
  clear: both;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.portlet > .portlet-empty {
  min-height: 125px;
}
.portlet.full-height-content {
  margin-bottom: 0;
}

/* Portlet background colors */
/* Side bordered portlet */
.portlet.bordered {
  border-left: 2px solid #e6e9ec !important;
}
.portlet.bordered > .portlet-title {
  border-bottom: 0;
}

/* Solid colored portlet */
.portlet.solid {
  padding: 0 10px 10px 10px;
  border: 0px;
}
.portlet.solid > .portlet-title {
  border-bottom: 0;
  margin-bottom: 10px;
}
.portlet.solid > .portlet-title > .caption {
  padding: 16px 0 2px 0;
}
.portlet.solid > .portlet-title > .actions {
  padding: 12px 0 6px 0;
}
.portlet.solid > .portlet-title > .tools {
  padding: 14px 0 6px 0;
}

/* Solid bordered portlet */
.portlet.solid.bordered > .portlet-title {
  margin-bottom: 10px;
}

/* Box portlet */
.portlet.box {
  padding: 0px !important;
}
.portlet.box > .portlet-title {
  border-bottom: 0;
  padding: 0 10px;
  margin-bottom: 0;
  color: #fff;
}
.portlet.box > .portlet-title > .caption {
  padding: 11px 0 9px 0;
}
.portlet.box > .portlet-title > .tools > a.remove {
  background-image: url(../img/portlet-remove-icon-white.png);
}
.portlet.box > .portlet-title > .tools > a.config {
  background-image: url(../img/portlet-config-icon-white.png);
}
.portlet.box > .portlet-title > .tools > a.reload {
  background-image: url(../img/portlet-reload-icon-white.png);
}
.portlet.box > .portlet-title > .tools > a.expand {
  background-image: url(../img/portlet-expand-icon-white.png);
}
.portlet.box > .portlet-title > .tools > a.collapse {
  background-image: url(../img/portlet-collapse-icon-white.png);
}
.portlet.box > .portlet-title > .tools > a.fullscreen {
  color: #fdfdfd;
}
.portlet.box > .portlet-title > .actions {
  padding: 7px 0 5px 0;
}
.portlet.box > .portlet-body {
  background-color: #fff;
  padding: 10px;
}
.portlet.box.portlet-fullscreen > .portlet-body {
  padding: 10px;
}

/* Light Portlet */
.portlet.light {
  padding: 12px 20px 15px 20px;
  background-color: #fff;
}
.portlet.light.bordered {
  border: 1px solid #e1e1e1 !important;
}
.portlet.light.bordered > .portlet-title {
  border-bottom: 1px solid #eee;
}
.portlet.light.bg-inverse {
  background: #F7F7F7;
}
.portlet.light > .portlet-title {
  padding: 0;
  min-height: 48px;
}
.portlet.light > .portlet-title > .caption {
  color: #666;
  padding: 10px 0;
}
.portlet.light > .portlet-title > .caption > .caption-subject {
  font-size: 16px;
}
.portlet.light > .portlet-title > .caption > i {
  color: #777;
  font-size: 15px;
  font-weight: 300;
  margin-top: 3px;
}
.portlet.light > .portlet-title > .caption.caption-md > .caption-subject {
  font-size: 15px;
}
.portlet.light > .portlet-title > .caption.caption-md > i {
  font-size: 14px;
}
.portlet.light > .portlet-title > .actions {
  padding: 6px 0 14px 0;
}
.portlet.light > .portlet-title > .actions .btn-default {
  color: #666;
}
.portlet.light > .portlet-title > .actions .btn-icon-only {
  height: 27px;
  width: 27px;
}
.portlet.light > .portlet-title > .actions .dropdown-menu li > a {
  color: #555;
}
.portlet.light > .portlet-title > .inputs {
  float: right;
  display: inline-block;
  padding: 4px 0;
}
.portlet.light > .portlet-title > .inputs > .portlet-input .input-icon > i {
  font-size: 14px;
  margin-top: 9px;
}
.portlet.light > .portlet-title > .inputs > .portlet-input .input-icon > .form-control {
  height: 30px;
  padding: 2px 26px 3px 10px;
  font-size: 13px;
}
.portlet.light > .portlet-title > .inputs > .portlet-input > .form-control {
  height: 30px;
  padding: 3px 10px;
  font-size: 13px;
}
.portlet.light > .portlet-title > .pagination {
  padding: 2px 0 13px 0;
}
.portlet.light > .portlet-title > .tools {
  padding: 10px 0 13px 0;
  margin-top: 2px;
}
.portlet.light > .portlet-title > .nav-tabs > li {
  margin: 0;
  padding: 0;
}
.portlet.light > .portlet-title > .nav-tabs > li > a {
  margin: 0;
  padding: 12px 13px 13px 13px;
  font-size: 13px;
  color: #666;
}
.portlet.light > .portlet-title > .nav-tabs > li.active > a, .portlet.light > .portlet-title > .nav-tabs > li:hover > a {
  margin: 0;
  background: none;
  color: #333;
}
.portlet.light.form-fit {
  padding: 0;
}
.portlet.light.form-fit > .portlet-title {
  padding: 17px 20px 10px 20px;
  margin-bottom: 0;
}
.portlet.light .portlet-body {
  padding-top: 8px;
}
.portlet.light.portlet-fullscreen > .portlet-body {
  padding: 8px 0;
}

.tab-pane > p:last-child {
  margin-bottom: 0px;
}


/***
Grey Salsa
***/
/* Button */
.grey-salsa.btn {
  color: #FAFCFB;
  background-color: #ACB5C3;
}
.grey-salsa.btn:hover, .grey-salsa.btn:focus, .grey-salsa.btn:active, .grey-salsa.btn.active {
  color: #FAFCFB;
  background-color: #97a3b4;
}
.open .grey-salsa.btn.dropdown-toggle {
  color: #FAFCFB;
  background-color: #97a3b4;
}
.grey-salsa.btn:active, .grey-salsa.btn.active {
  background-image: none;
  background-color: #8895a9;
}
.grey-salsa.btn:active:hover, .grey-salsa.btn.active:hover {
  background-color: #8e9bae;
}
.open .grey-salsa.btn.dropdown-toggle {
  background-image: none;
}
.grey-salsa.btn.disabled, .grey-salsa.btn.disabled:hover, .grey-salsa.btn.disabled:focus, .grey-salsa.btn.disabled:active, .grey-salsa.btn.disabled.active, .grey-salsa.btn[disabled], .grey-salsa.btn[disabled]:hover, .grey-salsa.btn[disabled]:focus, .grey-salsa.btn[disabled]:active, .grey-salsa.btn[disabled].active, fieldset[disabled] .grey-salsa.btn, fieldset[disabled] .grey-salsa.btn:hover, fieldset[disabled] .grey-salsa.btn:focus, fieldset[disabled] .grey-salsa.btn:active, fieldset[disabled] .grey-salsa.btn.active {
  background-color: #ACB5C3;
}
.grey-salsa.btn .badge {
  color: #ACB5C3;
  background-color: #FAFCFB;
}

/* Button Strip */
.btn.grey-salsa-stripe {
  border-left: 3px solid #ACB5C3;
}

/* Portlet */
.portlet > .portlet-body.grey-salsa,
.portlet.grey-salsa {
  background-color: #ACB5C3;
}

.portlet.solid.grey-salsa > .portlet-title,
.portlet.solid.grey-salsa > .portlet-body {
  border: 0;
  color: #FAFCFB;
}
.portlet.solid.grey-salsa > .portlet-title > .caption {
  font-weight: 400;
}
.portlet.solid.grey-salsa > .portlet-title > .caption > i {
  color: #FAFCFB;
}
.portlet.solid.grey-salsa > .portlet-title > .tools > a.remove {
  background-image: url(../img/portlet-remove-icon-white.png);
}
.portlet.solid.grey-salsa > .portlet-title > .tools > a.config {
  background-image: url(../img/portlet-config-icon-white.png);
}
.portlet.solid.grey-salsa > .portlet-title > .tools > a.reload {
  background-image: url(../img/portlet-reload-icon-white.png);
}
.portlet.solid.grey-salsa > .portlet-title > .tools > a.expand {
  background-image: url(../img/portlet-expand-icon-white.png);
}
.portlet.solid.grey-salsa > .portlet-title > .tools > a.collapse {
  background-image: url(../img/portlet-collapse-icon-white.png);
}
.portlet.solid.grey-salsa > .portlet-title > .tools > a.fullscreen {
  color: #fdfdfd;
}

.portlet.box.grey-salsa {
  border: 1px solid #cacfd8;
  border-top: 0;
}
.portlet.box.grey-salsa > .portlet-title {
  background-color: #ACB5C3;
}
.portlet.box.grey-salsa > .portlet-title > .caption {
  color: #FAFCFB;
}
.portlet.box.grey-salsa > .portlet-title > .caption > i {
  color: #FAFCFB;
}
.portlet.box.grey-salsa > .portlet-title > .actions .btn-default {
  background: transparent !important;
  background-color: transparent !important;
  border: 1px solid #edeff2;
  color: #fcfcfd;
}
.portlet.box.grey-salsa > .portlet-title > .actions .btn-default > i {
  color: white;
}
.portlet.box.grey-salsa > .portlet-title > .actions .btn-default:hover, .portlet.box.grey-salsa > .portlet-title > .actions .btn-default:focus, .portlet.box.grey-salsa > .portlet-title > .actions .btn-default:active, .portlet.box.grey-salsa > .portlet-title > .actions .btn-default.active {
  border: 1px solid white;
  color: white;
}


/* General Element */
.bg-red-flamingo {
  border-color: #EF4836 !important;
  background-image: none !important;
  background-color: #EF4836 !important;
  color: #FFFFFF !important;
}

/* General Text & Icon Font Colors */
.font-red-flamingo {
  color: #EF4836 !important;
}

.progress-bar.red-flamingo {
  background: #EF4836 !important;
  color: #FFFFFF !important;
}

/***
Red Flamingo
***/
/* Button */
.red-soft.btn {
  color: #FFFFFF;
  background-color: #d05454;
}
.red-soft.btn:hover, .red-soft.btn:focus, .red-soft.btn:active, .red-soft.btn.active {
  color: #FFFFFF;
  background-color: #c83838;
}
.open .red-soft.btn.dropdown-toggle {
  color: #FFFFFF;
  background-color: #c83838;
}
.red-soft.btn:active, .red-soft.btn.active {
  background-image: none;
  background-color: #b53232;
}
.red-soft.btn:active:hover, .red-soft.btn.active:hover {
  background-color: #bd3434;
}
.open .red-soft.btn.dropdown-toggle {
  background-image: none;
}
.red-soft.btn.disabled, .red-soft.btn.disabled:hover, .red-soft.btn.disabled:focus, .red-soft.btn.disabled:active, .red-soft.btn.disabled.active, .red-soft.btn[disabled], .red-soft.btn[disabled]:hover, .red-soft.btn[disabled]:focus, .red-soft.btn[disabled]:active, .red-soft.btn[disabled].active, fieldset[disabled] .red-soft.btn, fieldset[disabled] .red-soft.btn:hover, fieldset[disabled] .red-soft.btn:focus, fieldset[disabled] .red-soft.btn:active, fieldset[disabled] .red-soft.btn.active {
  background-color: #d05454;
}
.red-soft.btn .badge {
  color: #d05454;
  background-color: #FFFFFF;
}

/* Button Strip */
.btn.red-soft-stripe {
  border-left: 3px solid #d05454;
}

/* Portlet */
.portlet > .portlet-body.red-soft,
.portlet.red-soft {
  background-color: #d05454;
}

.portlet.solid.red-soft > .portlet-title,
.portlet.solid.red-soft > .portlet-body {
  border: 0;
  color: #FFFFFF;
}
.portlet.solid.red-soft > .portlet-title > .caption {
  font-weight: 400;
}
.portlet.solid.red-soft > .portlet-title > .caption > i {
  color: #FFFFFF;
}
.portlet.solid.red-soft > .portlet-title > .tools > a.remove {
  background-image: url(../img/portlet-remove-icon-white.png);
}
.portlet.solid.red-soft > .portlet-title > .tools > a.config {
  background-image: url(../img/portlet-config-icon-white.png);
}
.portlet.solid.red-soft > .portlet-title > .tools > a.reload {
  background-image: url(../img/portlet-reload-icon-white.png);
}
.portlet.solid.red-soft > .portlet-title > .tools > a.expand {
  background-image: url(../img/portlet-expand-icon-white.png);
}
.portlet.solid.red-soft > .portlet-title > .tools > a.collapse {
  background-image: url(../img/portlet-collapse-icon-white.png);
}
.portlet.solid.red-soft > .portlet-title > .tools > a.fullscreen {
  color: #fdfdfd;
}

.portlet.box.red-soft {
  border: 1px solid #db7c7c;
  border-top: 0;
}
.portlet.box.red-soft > .portlet-title {
  background-color: #d05454;
}
.portlet.box.red-soft > .portlet-title > .caption {
  color: #FFFFFF;
}
.portlet.box.red-soft > .portlet-title > .caption > i {
  color: #FFFFFF;
}
.portlet.box.red-soft > .portlet-title > .actions .btn-default {
  background: transparent !important;
  background-color: transparent !important;
  border: 1px solid #e8acac;
  color: #eec0c0;
}
.portlet.box.red-soft > .portlet-title > .actions .btn-default > i {
  color: #f1cccc;
}
.portlet.box.red-soft > .portlet-title > .actions .btn-default:hover, .portlet.box.red-soft > .portlet-title > .actions .btn-default:focus, .portlet.box.red-soft > .portlet-title > .actions .btn-default:active, .portlet.box.red-soft > .portlet-title > .actions .btn-default.active {
  border: 1px solid #f3d4d4;
  color: #f9e8e8;
}



/***
Light Table
***/
.table.table-light {
  border: 0 !important;
}
.table.table-light > thead > tr:hover > th {
  background: none;
}
.table.table-light > thead > tr.uppercase {
  text-transform: uppercase;
}
.table.table-light > thead > tr > th {
  font-weight: 600;
  font-size: 13px;
  color: #93a2a9;
  font-family: "Open Sans", sans-serif;
  border: 0;
  border-bottom: 1px solid #F2F5F8;
}
.table.table-light > tbody > tr:last-child > td {
  border: 0;
}
.table.table-light > tbody > tr > td {
  border: 0;
  border-bottom: 1px solid #F2F5F8;
  color: #8896a0;
  vertical-align: middle;
}
.table.table-light > tbody > tr > td.fit {
  width: 1px;
  padding-right: 3px;
}
.table.table-light > tbody > tr > td .user-pic {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.table.table-light.table-hover > tbody > tr > td:hover,
.table.table-light.table-hover > tbody > tr > th:hover, .table.table-light.table-hover > tbody > tr:hover > td, .table.table-light.table-hover > tbody > tr:hover > th {
  background: #f9fafb;
}

/* General Text & Icon Font Colors */
.font-grey-mint {
  color: #9eacb4 !important;
}

.progress-bar.grey-mint {
  background: #9eacb4 !important;
  color: #FAFCFB !important;
}
