/*******************flight-booking- round-list****************************/
  #round-trip .flight-booking-heading{
    border-bottom: 1px solid #ccc;
    margin-top: 30px;
    width: 95%;
    margin-left: 15px;

  }

 #round-trip .flight-booking-heading .col-xs-2{
  padding: 0px;
 }

  #round-trip .flight-booking-list{
    border: 1px solid #ccc;
    margin-top: 20px;
     border-bottom: 0px;
     width: 95%;
     margin-left: 15px;
  }

  /*.flight-booking-heading .airlines a, 
  .flight-booking-heading .departure a,  
  .flight-booking-heading .arrive a,
  .flight-booking-heading .duration a,
  .flight-booking-heading .Price a,
  .flight-booking-heading .book a   
    {
    color: #555;
  }*/
#round-trip .flight-booking-heading .airlines h5, 
  #round-trip .flight-booking-heading .departure h5,  
  #round-trip  .flight-booking-heading .arrive h5,
  #round-trip  .flight-booking-heading .duration h5,
  #round-trip  .flight-booking-heading .Price h5  
    {
    border-right: 1px solid #ccc;
  }

  #round-trip .flight-booking-list .airlines, 
  #round-trip .flight-booking-list .departure,  
  #round-trip .flight-booking-list .arrive,
  #round-trip .flight-booking-list .duration,
  #round-trip .flight-booking-list .Price 
    {
    border-right: 1px solid #ccc;
  }
  
  #round-trip .flight-booking-list h5{
    /*border-right: 1px solid #ccc;*/
    /*border-bottom: 1px solid #ccc;*/
    margin: 0px;
    padding: 5px;

  }
  #round-trip .flight-booking-list .col-xs-2{
    padding: 7px 0px;
    text-align: center
  }
  #round-trip .flight-booking-list img{
    display: inline-block;
    width: 60%;
  }
  #round-trip .flight-booking-list p{
    margin-bottom: 0px;
  }

  #round-trip .flight-booking-list span{
    color:#aaa;
    font-size: 12px;
  }
 #round-trip .show-details{
    border: 1px solid #ccc;
    border-right: 0px;
    border-left: 0px;
  }
   #round-trip .show-details ul{
    margin-bottom: 0px; 
    list-style: none;
    padding-left: 0px;
   }

   #round-trip .show-details ul li {
   padding: 5px;
   float: left

   }

   #round-trip .show-details ul li a{
    text-decoration: none;
   }

  #round-trip .flight-booking-list .airlines{ padding-top: 14px;padding-bottom: 14px;} 
  #round-trip .flight-booking-list .airlines img{
    padding-top: 15px;
  }

  .flight-booking-list .duration{ padding: 7px 20px;}
  /*.flight-booking-list .dep{ padding: 10px 10px 12px;}  
  .flight-booking-list .ar{ padding: 10px 10px 12px;}
  .flight-booking-list .dur{ padding: 10px 10px 15px;}
  .flight-booking-list .Pr{
      padding: 10px 10px 15px;
  }*/
  #round-trip .flight-timings .btn-clean{

    padding: 3px;
    font-size: 12px;
    float: right
   
  }
  #round-trip .flight-booking-list .Price p.h3{
    margin-top: 10px;
    padding-bottom: 14px;
  }

  #round-trip .travel-icon, #round-trip .travel-text{
    font-size: 13px;
    display: block;
    text-align: center;
  } 
 
/*******************flight-booking-round-list-ends****************************/